@use '../../vars';

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// HEADER
.header {
  padding-top: 30px;
  color: vars.$header;
  position: absolute; //позволяет картинке быть и в header и в main
  right: 0;
  left: 0;
}

.menu {
  display: flex;
  gap: 0 40px;
  &__list {
    display: flex;
    gap: 0 40px;
    padding-top: 22px;
  }
  &__list-link {
    font-size: 12px;
  }
}

// FOOTER
.footer {
  &__inner {
    padding: 30px 0 20px;
    text-align: center;
  }
  &__menu {
    justify-content: center;
    margin-bottom: 30px;
  }
  &__beans {
    &::after,
    &::before {
      background-color: vars.$default;
    }
  }
}
