@use '../../vars';

.goods {
  &__goods-item {
    -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    background-color: vars.$header;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 37px 20px 22px;
  }
  &__img {
    width: 100%;
    max-height: 115px;
    object-fit: contain;
    margin-bottom: 14px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &__info-title {
    text-align: end;
    margin-bottom: 10px;
  }
  &__info-country {
    margin-bottom: 10px;
  }
  &__info-price {
    font-weight: 700;
  }
}
