@use '/src/vars';

// BEST
.best {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    padding: 80px 170px 110px;
    text-align: center;
  }
  &__subtitle {
    @include vars.subtitle(400, vars.$default);
    margin-bottom: 40px;
  }
}
