@use '../../../vars';

// ABOUT
.about-main {
  &__inner {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  &__subtitle {
    @include vars.subtitle(400, vars.$default);
    margin-bottom: 20px;
  }
  &__text {
    max-width: 588px;
    margin: 0 auto;
    p {
      margin: 0 0 30px;
    }
  }
  &__beans {
    margin-bottom: 36px;
    &::after,
    &::before {
      background-color: vars.$default;
    }
  }
}
