$default: #000;
$header: #fff;

@mixin subtitle($fw, $color) {
  color: $color;
  font-size: 24px;
  font-weight: $fw;
}

@mixin top($bg) {
  background-image: url($bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%title {
  font-weight: 700;
  font-size: 40px;
}
