@use 'vars';
@use 'reset.scss';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: vars.$default;
  min-width: 320px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
}
